@using Microsoft.AspNetCore.Components.Web
@using KrasovBurger.Model
@using KrasovBurger.Services
@inject JsonFileBurgerService BurgerServices

<h1 style="text-align: center; font-family: 'Poppins', sans-serif;" class="Menu">Menu</h1>
<div class="card-columns">
    @foreach (var burger in BurgerServices.GetBurger())
    {
       <div class="card">
            <img src="@burger.Image" class="card-img-top" id="card-img">
        <div class="card-body">
            <h5 class="card-title">@burger.Title</h5>
        </div>
       <div class="card-footer" style="background: #fff">
            <small class="text-muted"><button @onclick="(e => SelectProduct(burger.Id))" 
              data-toggle="modal" data-target="#productModal" class="btn btn-dark">More Info</button>
            </small>
        </div>
    </div>
    }
</div>

@if (selectedBurger != null)
{
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@selectedBurger.Title</h5>
                    <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-img" style="background-image: url('@selectedBurger.Image'); width: 650px;">
                        </div>
                        <div class="card-body">
                            <p class="card-text">@selectedBurger.Description</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark">В корзину</button>
                </div>
            </div>
        </div>
    </div>
}

@code
{
    Burger selectedBurger;
    string selectedBurgerId;

    void SelectProduct(string burgerId)
    {
        selectedBurgerId = burgerId;
        selectedBurger = BurgerServices.GetBurger().First(x => x.Id == burgerId);
    }
}