@using Microsoft.AspNetCore.Components.Web
@using KrasovBurger.Model
@using Krasov_Burger.Services
@inject JsonFileBurgerService BurgerService

<h1 style="text-align: center; font-family: 'Poppins', sans-serif;" class="mt-4">Меню</h1>

<div class="card-columns">
    @foreach (var product in BurgerService.GetBurger())
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@product.Image');">
            </div>
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
            </div>
            <div class="card-footer">
                <button @onclick="(e => SelectProduct(product.Id))"
                        data-toggle="modal" data-target="#productModal" class="btn btn-dark text-left">
                        Перейти
                </button>
                <button type="button" class="btn btn-dark">В корзину</button>
            </div>
        </div>
    }
    <div id="album"></div>
</div>

@if (selectedProduct != null)
{
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="width: 690px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@selectedProduct.Title</h5>
                    <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-img" style="background-image: url('@selectedProduct.Image'); width: 650px;">
                        </div>
                        <div class="card-body">
                            <p class="card-text">@selectedProduct.Description</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark">В корзину</button>
                </div>
            </div>
        </div>
    </div>
}

@code
{
    Burger selectedProduct;
    string selectedProductId;

    void SelectProduct(string productId)
    {
        selectedProductId = productId;
        selectedProduct = BurgerService.GetBurger().First(x => x.Id == productId);
    }
}